// bower:scss
// endbower

//Vendor
@import 'vendor/normalize';
@import 'vendor/ionicons';

//Global
@import 'global/colors';
@import 'global/typography';
@import 'global/animations';

//Partials
@import 'partials/header';

body {
	font-family: $prox-reg;
	color: $type-black;
	background: $background-grey;
}

a {
	color: $type-black;
	transition: $standard-linear;

	&:hover {
		color: $type-grey;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $josefin-sans;
}

strong {
	font-family: $prox-bold;
}

i {
	font-family: $prox-reg-it;
}

.bold-italic {
	font-family: $prox-bold-it;
}

.button {
	background: none;
	border: 0;
	cursor: pointer;

	&:focus {
		border: 0;
	}
}

.navigation {
	font-family: $josefin-sans;
	text-transform: uppercase;

	&__menu {
		list-style: none;
	}

	&__menu-item a {
		color: $type-grey;
		text-decoration: none;

		&:hover {
			color: $type-black;
		}
	}

	&__menu-item--current a {
		color: $type-black;
	}
}

.browserupgrade {
	position: fixed;
	width: 100%;
	padding: 40px 0;
	margin: 0;
	text-align: center;
	background-color: $background-grey;
	border-bottom: 1px solid $type-grey;
}
