@import '../global/colors';

.header {
	position: absolute;
	top: 0;
	display: flex;
	width: 100%;
	height: 120px;
}

.navigation {

	&--main__logo,
	&--mobile__logo {
		width: 250px;
	}

	&--main {
		display: none;
		width: 100%;

		&__menu {
			float: right;
			margin-top: 45px;
			margin-right: 20px;
		}

		&__menu-item {
			display: inline-block;
			padding: 0 5px;
		}

	}

	&--mobile {
		width: 100%;

		&__open-button {
			width: 100%;
			margin: 35px 0 25px;
			color: $type-grey;
			outline: none;

			&--active {
				opacity: 0;
			}

			&--inactive {
				opacity: 1;
			}
		}

		&__close-button {
			position: absolute;
			top: 10px;
			right: 30px;
			font-size: 90px;
			color: $type-grey;
		}

		&__overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $white;

			&--inactive {
				opacity: 0;
				visibility: hidden;
				transition: opacity .5s, visibility 0s .5s;
			}

			&--active {
				opacity: 1;
				visibility: visible;
				transition: opacity .5s;
			}

			&__menu-container {
				position: relative;
				top: 50%;
				height: 60%;
				font-size: 54px;
				text-align: center;
				transform: translateY(-50%);
				perspective: 1200px;
			}

			&__menu {
				position: relative;
				display: inline-block;
				height: 100%;
				padding: 0;
				margin: 0 auto;
				opacity: .4;
				transform: translateY(-25%) rotateX(35deg);
				transition: transform .5s, opacity .5s;
			}

			&__menu-item {
				display: block;
				height: calc(100% / 3);
				min-height: 54px;
			}

			&__menu--active {
				opacity: 1;
				transform: rotateX(0deg);
			}

			&__menu--inactive {
				transform: translateY(25%) rotateX(-35deg);
			}
		}

		&__logo {
			position: absolute;
			left: 50%;
			margin-left: -125px;
		}
	}
}

@media (min-width: 769px) {
	.navigation--main {
		display: block;
	}

	.logo {
		margin-top: 30px;
		margin-left: 20px;
	}

	.navigation--mobile__open-button,
	.navigation--mobile {
		display: none;
	}
}
